@model List<TransactionModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            <p class="h2 fw-bold">History</p>
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link text-black active bg-warning fw-bold history">Added Coin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black fw-bold redeems">Redeemed Coin</a>
            </li>
        </ul>
    </div>
    
    <div class="content">
        
    </div>
</div>

@section Scripts {
        <script>
            $(document).ready(function () {
                $('.content').load('/History/Details');
                $('#history').addClass('active');

                let redeemBtn = $('.redeems');
                let historyBtn = $('.history');
                
                $(redeemBtn).click(() => {
                    $('.content').load('/History/Redeem');
                    $(redeemBtn).addClass('active bg-warning');
                    $(historyBtn).removeClass('active bg-warning');
                });

                $('.history').click(() => {
                    $('.content').load('/History/Details');
                    $(historyBtn).addClass('active bg-warning');
                    $(redeemBtn).removeClass('active bg-warning');
                });
            });
        </script>
}
