@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            <p class="h2 fw-bold">History</p>
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link text-black fw-bold" aria-current="page" asp-action="Index" asp-controller="History" asp-area="">Added Coin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black active bg-warning fw-bold" asp-action="Redeem" asp-controller="History" asp-area="">Redeemed Coin</a>
            </li>
        </ul>
    </div>

    <div class="col-md-12 mb-3 main-content">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Group</th>
                                <th scope="col">Redeemed</th>
                                <th scope="col">Prize</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="https://cdn-icons-png.flaticon.com/512/1144/1144811.png" class="img-fluid me-2" alt="icon_user" style="height: 5vh;">
                                    user name
                                </td>
                                <td>1</td>
                                <td>200</td>
                                <td>Prize A</td>
                                <td>3/1/2023</td>
                                <td>20:20</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
