/* _content/BootCoin/Views/History/Index.cshtml.rz.scp.css */
/*make a triangle pointing to menu above*/

.main-content [b-hq21gc5ret]::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 60px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
/* _content/BootCoin/Views/History/Redeem.cshtml.rz.scp.css */
/*make a triangle pointing to menu above*/

.main-content [b-9xjrb267s8]::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 200px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
/* _content/BootCoin/Views/Home/Index.cshtml.rz.scp.css */
body[b-orablxqyin] {
}
/* _content/BootCoin/Views/Login/Index.cshtml.rz.scp.css */
.wrapper[b-wwz9d069d5] {
    height: 100vh;
    background: linear-gradient(115deg, rgba(246, 234, 123, .9), rgba(85, 34, 204, .9)), url('/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Poppins;
}

.logo[b-wwz9d069d5]  img {
    width: 300px;
}

.logo p[b-wwz9d069d5] {
    font-size: 32px;
}

.form-wrapper[b-wwz9d069d5] {
    background-color: rgba(45, 45, 45, 0.5);
    padding: 40px;
    height: 95vh;
    backdrop-filter: blur(10px);
}

    .form-wrapper h1[b-wwz9d069d5] {
        font-weight: 600;
    }

    .form-wrapper input[b-wwz9d069d5] {
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
    }

    .form-wrapper label[b-wwz9d069d5] {
        color: #fff;
        font-size: 24px;
        padding-left: 6px;
    }

.form-group[b-wwz9d069d5] {
    margin-bottom: 1.5rem;
}

.form-control[b-wwz9d069d5] {
    margin-bottom: 3rem;
    box-shadow: none !important;
    font-size: 24px;
}

.btn-login[b-wwz9d069d5] {
    background-color: #F5167E;
    color: white;
    border-radius: 100vmax;
    padding: 10px 100px;
    font-size: 18px;
}
/* _content/BootCoin/Views/Profile/Index.cshtml.rz.scp.css */
body[b-ooapj3ehc2] {
}
/* _content/BootCoin/Views/Register/Index.cshtml.rz.scp.css */
body[b-nhx92gzojh] {
}
/* _content/BootCoin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar[b-3ixs0v6ua9] {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 12;
}

.user-profile[b-3ixs0v6ua9] {
    display: flex;
    align-items: center;
}

.user-info span[b-3ixs0v6ua9] {
    text-align: right;
    display: block;
    margin-right: .8rem;
}

.user-info span:not(#username)[b-3ixs0v6ua9] {
    font-weight: 700;
}

ul[b-3ixs0v6ua9] {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li[b-3ixs0v6ua9]  a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

.sidebar-wrapper[b-3ixs0v6ua9] {
    position: relative !important;
}

.sidebar[b-3ixs0v6ua9] {
    background-image: url('/images/Rectangle 13.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 65px);
    margin-top: 65px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
}

.sidebar-menu li[b-3ixs0v6ua9] {
    padding: 1rem .5rem;
}

    .sidebar-menu li.active[b-3ixs0v6ua9] {
        background-color:rgba(217, 217, 217, 0.5);
        border-radius: 5px;
    }

.sidebar[b-3ixs0v6ua9]  img {
    width: 35px;
    margin-right: 10px;
}

.sidebar-menu span[b-3ixs0v6ua9] {
    font-size: 2em;
}

.main-container[b-3ixs0v6ua9] {
    background-color: #E9E9E9 !important;
}
