################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/BootCoin/bin/Debug/net6.0/BootCoin.dll
