@{
    ViewData["Title"] = "Find User";
}

<div class="main-container p-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            <p class="h2 fw-bold">Find User</p>
        </div>

        <div class="col-md-12 mb-3">
            <form>
                <div class="input-group mb-3" >
                     <input type="text" class="form-control" placeholder="Input Name" name="ToFind" id="ToFind">
                     <button class="btn btn-outline-secondary" type="submit" id="button-addon2" asp-controller="FindUser" asp-action="search">
                         <img src="https://cdn-icons-png.flaticon.com/512/149/149852.png" class="img-fluid my-auto" style="height: 2.5vh;" alt="search"/>
                     </button>
                </div>
            </form>
        </div>

        <div class="content"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            $('#find-user').addClass('active');
            let container = $('.content');

            $.ajax({
                type: "POST",
                url: '@Url.Action("search", "FindUser")',
                data: {
                    ToFind: "",
                    page: 1
                },
                success: (data) => {
                    container.html(data);
                }
            })
            
            $('form').submit((e) => {
                e.preventDefault();
                let name = $('#ToFind').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("search", "FindUser")',
                    data: {
                        ToFind: name,
                        page: 1
                    },
                    success: (data) => {
                        container.html(data);
                    }
                });
            });

            $(document).on('click', '.pagination a', (e) => {
                e.preventDefault();
                let name = $('#ToFind').val();
                let page = $(e.target).attr('data-page');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("search", "FindUser")',
                    data: {
                        ToFind: name,
                        page: page
                    },
                    success: (data) => {
                        container.html(data);
                    }
                });
            });
        });
    </script>
}