@model BootCoin.Models.ChangePasswordModel

<form asp-action="ChangePassword" asp-controller="Profile" method="post">
    <div class="h4 fw-bold mb-2">
        Change Password
    </div>
                        
    <div class="h6 fw-bold mb-3">
        <label for="password" class="form-label">Current Password</label>
        <input type="password" asp-for="OldPassword" class="form-control border-dark border-2 bg-light" style="width: 50vw;" id="password">
    </div>
    <div class="h6 fw-bold mb-3">
        <label for="newpassword" class="form-label">New Password</label>
        <input type="password" asp-for="NewPassword" class="form-control border-dark border-2 bg-light" style="width: 50vw;" id="newpassword" >
    </div>
    <button type="submit" class="btn btn-warning position-absolute bottom-0 end-0 m-3">Confirm Change</button>
</form>