@model BootCoin.Models.RegisterModel
@{
    ViewData["title"] = "Register";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="wrapper p-4 ">
    <div class="row d-flex justify-content-start">
        <div class="col-4">
            <div class="logo">
                <img src="/images/logo.png" alt="logo" asp-append-version="true" />
                <p class="fw-bold">Coins For The Strong</p>
            </div>
        </div>
        <div class="col-7">
            <div class="form-wrapper rounded d-flex flex-column justify-content-center">
                <form method="POST" asp-action="Register" asp-controller="Account">
                    <h1 class="text-white display-4 align-text-left mb-3" id="title-register">Register</h1>
                    <div class="form-group mb-3">
                        <label class="fs-5" asp-for="UserName"></label>
                        <input type="text" class="form-control" id="username" name="username" asp-for="UserName"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="fs-5" asp-for="Email"></label>
                        <input type="email" class="form-control" id="email" name="email" asp-for="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="fs-5" asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control" id="password" name="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="fs-5" asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" name="ConfirmPassword"/>
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="agreeTermsAndCondition">
                        <label class="form-check-label" for="flexCheckChecked">
                        I Agree to The Terms and Conditions
                        </label>
                    </div>
                    <button type="submit" class="btn btn-register mx-auto d-block" id="btn-register">Register</button>
                    <p class="text-center mt-2 text-white">Have an account? <a class="text-white fw-bold text-decoration-none" asp-controller="Account" asp-action="Login">Sign in</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
