.main-content[b-ooapj3ehc2] {
    background: linear-gradient(170deg, rgba(246, 234, 123, .9), rgba(182, 30, 148, .9)), url('/images/profilebg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Poppins;
}