<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BootCoin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BootCoin.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow position-fixed w-100">
            <div class="container-fluid px-4">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/logo.png" asp-append-version="true"/></a>
                
                <div class="user-profile">
                    <div class="user-info">
                        <span>Name</span>
                        <span id="username">@User.Identity.Name</span>
                    </div>
                    <a asp-action="Index" asp-area="" asp-controller="Profile">
                        <img src="/images/user.png" alt="User Profile Picture" asp-append-version="true" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid bg-light">
        <div class="row" style="margin-right: 0">
            <div class="col-2">
                <aside class="sidebar position-fixed top-0">
                    <ul class="sidebar-menu">
                        <span>Menu</span>
                        <li id="input-coin"><a asp-action="Index" asp-area="" asp-controller="Home"><img src="/images/Touchpad.png" asp-append-version="true"/>Input Coin</a></li>
                        <li id="find-user"><a asp-action="Index" asp-area="" asp-controller="FindUser"><img src="/images/Search.png" asp-append-version="true"/>Find User</a></li>
                        <li id="history"><a asp-action="Index" asp-area="" asp-controller="History"><img src="/images/History.png" asp-append-version="true"/>History</a></li>
                    </ul>
                    <ul class="language-menu">
                        <li class="fw-bold text-white" style="font-size: 1.2em"><img src="/images/Globe.png" asp-append-version="true"/>Language</li>
                    </ul>
                </aside>
            </div>
            <div class="col-10 main-container">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>


    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
