<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BootCoin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BootCoin.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid px-4">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/logo.png" asp-append-version="true"/></a>
                
                <div class="user-profile">
                    <div class="user-info">
                        <span class="fw-bold">Name</span>
                        <span id="username">Admin</span>
                    </div>
                    <img src="/images/user.png" alt="User Profile Picture" asp-append-version="true" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <aside class="sidebar">
            <span>Menu</span>
            <ul class="sidebar-menu">
                <li><a asp-action="#" asp-area="" asp-controller="Home">Input Coin</a></li>
                <li><a href="#">Find User</a></li>
                <li><a href="#">History</a></li>
            </ul>
            <ul class="language-menu">
                <li>Language</li>
            </ul>
        </aside>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BootCoin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
