@model BootCoin.Models.AddUserModel

<div class="modal fade" id="add-user-@Model.GroupID" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add User for Group @Model.GroupName</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddUser" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="GroupID"/>
                <div class="modal-body">
                    <label>Full Name</label>
                    <input type="text" asp-for="ParticipantName"/>

                    <label for="image"> <img src="~/images/Add File.png"> </label>
                    <input type="file" id="image" style="display: none" asp-for="Image"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning fw-bold">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>