@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            <p class="h2 fw-bold">Input Coin</p>
            <p>Input user's coin per group</p>
        </div>

        <div class="col-md-12 mb-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link text-black active" aria-current="page" href="#">Group 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">Group 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">Group 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">Group 4</a>
                </li>
            </ul>
        </div>

        <div class="col-md-12 mb-3">
            <div class="card mb-3 p-3">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <img src="https://images.tokopedia.net/img/cache/900/VqbcmM/2022/4/27/6417592e-58b4-4073-acd9-53ccabf8b6d0.jpg" class="img-fluid rounded" style="height: 10vh;">
                    </div>
                    <div class="col-md-2">
                        <h4 class="card-title">Card title</h4>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">Total Costs</p>
                        <h4 class="card-text">N/A</h4>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">Percentage</p>
                        <h4 class="card-text">N/A</h4>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">Total Member</p>
                        <h4 class="card-text">N/A</h4>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">Rank</p>
                        <h4 class="card-text">N/A</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Coin Obtained</th>
                                <th scope="col">Redeemed Coin</th>
                                <th scope="col">Coin Remained</th>
                                <th scope="col">Add Coin</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <img src="https://cdn-icons-png.flaticon.com/512/1144/1144811.png" class="img-fluid me-2" alt="icon_user" style="height: 5vh;">
                                    user name
                                </td>
                                <td>1000</td>
                                <td>250</td>
                                <td>750</td>
                                <td>+</td>
                            </tr>

                        </tbody>
                    </table>

                    <button type="button" class="btn btn-warning">Add User</button>
                </div>
            </div>
        </div>

    </div>
</div>
