@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            <p class="h2 fw-bold">Input Coin</p>
            <p>Input user's coin per group</p>
        </div>

        <div class="col-md-12 mb-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link bg-warning text-black fw-bold active" data-group="GR01">Group A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" data-group="GR02">Group B</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" data-group="GR03">Group C</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" data-group="GR04">Group D</a>
                </li>
            </ul>
        </div>

        <div class="col-md-12 mb-3">
            <div class="card mb-3 p-3">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <img src="https://images.tokopedia.net/img/cache/900/VqbcmM/2022/4/27/6417592e-58b4-4073-acd9-53ccabf8b6d0.jpg" class="img-fluid rounded" style="height: 10vh;">
                    </div>
                    <div class="col-md-2">
                        <h4 class="card-title">Group <span id="group-name"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">Total Costs</p>
                        <h4 class="card-text"><span id="group-total-coins"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">Percentage</p>
                        <h4 class="card-text">N/A</h4>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">Total Member</p>
                        <h4 class="card-text">N/A</h4>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">Rank</p>
                        <h4 class="card-text">N/A</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            let container = $('.card-body');
            container.load('/Home/GetParticipants?GroupID=GR01')
            $.ajax({
                type: "GET",
                url: "/Home/GetData",
                success: function(data) {
                    $('#group-name').html(data.groupName),
                    $('#group-total-coins').html(data.groupTotalCoins),
                    console.log(data)
                }
            });
            let buttons = $('.nav-link');
            let currentButton = $('.nav-link.active');
            $('#input-coin').addClass('active');
            buttons.each(button => {
                $(buttons[button]).click(function () {
                    let group = $(this).data('group');
                    container.load('/Home/GetParticipants?GroupID=' + group);

                    $(buttons[button]).addClass('active bg-warning fw-bold');
                    $(currentButton).removeClass('active bg-warning fw-bold');
                    currentButton = $(buttons[button]);
                });
            });
        });
    </script>
}